name: build

on:
  push:
  pull_request:

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore
        run: dotnet restore DevOpTyper/DevOpTyper.csproj
      - name: Build
        run: dotnet build DevOpTyper/DevOpTyper.csproj -c Release
